/* Font */
@font-face {
    font-family: magicFont;
    src: url(../font/Campanile.ttf);
  }
@font-face {
    font-family: gamePlayed;
    src: url(../font/GamePlayed.otf);
  }

/* style générale */
body{
    /* on set la margin à 0 par défault */ 
    margin: 0;
    /* on donne la largeur et la hauteur de base */
    width: 98vh;  
    height: 98vh;  
    /* on donne une image en background, on la centre et on empèche l'image de se répeter */
    background: url('../img/background.png');
    background-position: center;
    background-repeat: no-repeat;
}

/* style icones */
.icone{
    width: 65px;
    height: 90px;
    margin: 20px;
}
.iconeImage{
    margin: auto;
    width: 65px;
    height: 65px;
}
.iconeText{
    height: 25px;
    width: 65px;
    font-size: 20px;
    text-align: center;
    color: #cecece;
    font-family: magicFont;
}

/* style barre des taches */
#barreTaches{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: #b32c58;
}
#barreTachesLogo{
    width: 40px;
    height: 40px;
    margin: 3px;
}

/* windows */
.controleUpBar{
    float: left;
    width: 57px;
    height: 27px;
    background-color: rgb(31, 31, 31);
    border: rgb(31, 31, 31) 1px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.btnClose{
    width: 20px;
    height: 20px;
    margin: 3px;
}
.btnSizeMax{
    width: 20px;
    height: 20px;
    margin: 3px;
}

/* twitch */
#twitchWindow{
    width: 700px;
    height: 500px;
    background-color: #6441a5;
    border: #6441a5 1px;
    border-radius: 10px;
}